################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/大作业/BigHW/90-01-b1/90-01-b1-main.cpp
/大作业/BigHW/BigHW.sln
/大作业/BigHW/90-01-b1/90-01-b1.vcxproj
/大作业/BigHW/90-01-b1/90-01-b1.vcxproj.filters
